<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title %>
        </title>
        <style>
            h1{text-align: center;}
        </style>
    </head>
    <body>
        <h1>Welcome to Main Page</h1>
        <ul>
            <li><a href="/dashboard">Dashboard - info about computer</a></li>
            <li><a href="/assert">Assert module</a></li>
            <li><a href="/fs">FS Module</a></li>
        </ul>
    </body>
</html>